<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-body m-t-20">
    <p>Are you sure you want to 
      <strong ng-if="vm.user.active">disable </strong>
      <strong ng-if="!vm.user.active">enable </strong>
      this user ?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.delete()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
  </div>
</script>
<div class="page-content-wrapper">
<div class="content">
<div class="container">
<br/>
  <button type="button" class="btn btn-primary btn-sm" ng-click="chef.open('lg',true)">+Chef</button>
  <br/>
  <br/>
  <br/>
  <div class="table-responsive">
 <div id="basicTable_wrapper" class="dataTables_wrapper form-inline no-footer">
    <table class="table table-hover dataTable no-footer" datatable="ng" id="basicTable" role="grid" dt-options="dtOptionsRequestManager">
    <thead>
      <tr role="row"  >
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mail id</th>
      </tr>
    </thead>
    <tbody>
      <tr role="row" ng-repeat="user in chef.users track by $index" ng-class="user.active?'': 'disabled'">
        <td>{{$index + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td ng-click="chef.delete('sm',user)">
          <button class="btn btn-danger btn-sm" ng-if="user.active">Disable</button>
          <button class="btn btn-success btn-sm" ng-if="!user.active">Enable</button>
        </td>
         <td><a class="btn " ui-sref="profile({id:user._id})"><i class="fa fa-eye fa-1x pointer" aria-hidden="true" ></i></a></td>              
        </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
</div>
</div>