<div ng-show="nav.isLoggedIn" class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  
    <!-- <div class="navbar-header"> -->
      <div class=" pull-right">
      <!-- START User Info-->
       
        <div class="btn-group" uib-dropdown is-open="status.isopen">
         
          <div class="thumbnail-wrapper d32 circular inline m-t-5" uib-dropdown-toggle ng-disabled="disabled">
            <img ng-src="{{nav.getCurrentUser().profile_img? nav.getCurrentUser().profile_img:'/assets/images/default_user.jpg'}}" alt="" width="32" height="32" >
          </div>
          <ul class="dropdown-menu dd-open" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem">
              <a ui-sref="profile({id:nav.getCurrentUser()._id})">Profile</a>
            </li>
            <li role="menuitem">
              <a ui-sref="logout">Logout</a>
            </li>
          </ul>
        </div>
      <!-- END User Info-->
   
  </div>
</div>
