<!--BEGIN SIDEBAR -->
  <sidebar ></sidebar>
  <!-- END SIDEBAR -->
  <!-- START PAGE-CONTAINER -->
    <div class="page-container">
    <!-- START HEADER -->
      <div class="header ">
      <!-- START MOBILE CONTROLS -->
      <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
          <div class="sm-action-bar">
            <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
              <span class="icon-set menu-hambuger"></span>
            </a>
          </div>
        <!-- END ACTION BAR -->
        </div>
      <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
          <div ng-show="menuOpened" class="sm-action-bar">
            <div class="thumbnail-wrapper d32 circular inline m-t-5" ng-click="vm.toggleMenu($event);">
              <img ng-src="" alt="" width="32" height="32" >
            </div>
            <div  class="menu-dropdown ">
            <div class="arrow-up"></div>
              <ul class="menu-items logout" ng-click="vm.toggleMenu($event);">
                <li><span><a >Profile</a></span></li>
                <li ng-click="vm.logout()">
                <span><a ui-sref="logout">Logout</a></span>
                </li>
              </ul>
            </div>
          </div>

        <!-- END ACTION BAR -->
        </div>
      <!-- END MOBILE CONTROLS -->
      <div class=" pull-left sm-table" >
        <div class="header-inner">
          <div class="brand inline">

          </div>
        <!-- START NOTIFICATION LIST -->
        <!-- END NOTIFICATIONS LIST -->
        </div>
      </div>
      <div class=" pull-right">
      <!-- START User Info-->
       
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <!-- <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
             Button dropdown <span class="caret"></span>
          </button> -->
          <div class="thumbnail-wrapper d32 circular inline m-t-5" uib-dropdown-toggle ng-disabled="disabled">
            <img ng-src="{{vm.getCurrentUser().profile_img? vm.getCurrentUser().profile_img:'/assets/images/default_user.jpg'}}" alt="" width="32" height="32" >
          </div>
          <ul class="dropdown-menu dd-open" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem">
              <a ui-sref="profile({id:vm.getCurrentUser()._id})">Profile</a>
            </li>
            <li role="menuitem">
              <a ui-sref="logout">Logout</a>
            </li>
          </ul>
        </div>
      <!-- END User Info-->
      </div>

    </div>

  <div ui-view></div>
  </div>

                 

      